<div class="container px-4 mx-auto">
  <h2 class="font-semibold tracking-wide text-blue-500 uppercase"> Popular Games</h2>
  <div class="grid grid-cols-6 gap-12 pb-16 text-sm border-b border-gray-800 popular-games">
    <% 12.times do %>
      <div class="mt-8 game">
        <div class="relative inline-block">
          <%= link_to dashboard_path do %>
            <%= image_tag 'ff7.jpg', alt: 'game cover', class:'hover:opacity-75 transition ease-in-out duration-150' %>
          <% end %>
          <div class="absolute bottom-0 right-0 w-16 h-16 bg-gray-800 rounded-full" style="right:-20px;bottom:-20px">
            <div class="flex items-center justify-center h-full text-xs font-semibold">80%</div>
          </div>
        </div>
        <%= link_to 'Final Fantasy 7 Remake', '#', class: 'block text-base fon-semibold leading-tight hover:text-gray-400 mt-8' %>
        <div class="mt-1 text-gray-400">Playstation 4</div>
      </div>
    <% end %>
  </div>

  <div class="flex my-10">
    <div class="w-3/4 mr-32 recently-reviewed">
      <h2 class="font-semibold tracking-wide text-blue-500 uppercase">Recently Reviewed</h2>
      <div class="mt-8 space-y-12 recently-reviewed-container">
        <div>Game Card</div>
        <div>Game Card</div>
        <div>Game Card</div>
      </div>
    </div>
    <div class="w-1/4 most-anticipated">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia vitae illum illo sit iusto quibusdam possimus nulla deserunt itaque qui. Expedita, harum. Eius minus voluptas corporis distinctio facilis nam odit?
    </div>
  </div>
</div>
