<%# Data Binding %>
<div x-data="{ first_num: 0, second_num: 0 }" class="p-6">
  <input type="text" class="text-center border p-2 rounded-lg" x-model.number="first_num"> +
  <input type="text" class="text-center border p-2 rounded-lg" x-model.number="second_num"> =
  <output x-text="first_num + second_num"></output>
</div>
