<div class="my-2">
  <%=
    link_to 'Back Home',
    home_path,
    class:"transition duration-500 px-4 py-2 font-bold border text-sm rounded-lg focus:outline-none hover:bg-blue-900 hover:text-white hover:border-blue-900"
  %>
</div>
<h1 class="text-2xl font-bold text-gray-800">Transitions 102</h1>

<div class="grid items-center justify-center h-screen">
  <div x-data="{ show: false }" @click.away="show = false">
    <button @click="show = ! show" class="focus:outline-none">Links</button>

    <div
      class="absolute py-2 mt-1 text-white bg-black rounded"
      x-show="show"
      x-transition:enter="transition duration-200 transform ease-out"
      x-transition:enter-start="scale-75"
      x-transition:leave="transition duration-100 transform ease-in"
      x-transition:leave-end="opacity-0 scale-90"
    >
      <a class="block px-4 py-px text-sm hover:bg-gray-800" href="#">Edit</a>
      <a class="block px-4 py-px text-sm hover:bg-gray-800" href="#">Delete</a>
      <a class="block px-4 py-px text-sm hover:bg-gray-800" href="#">Report Spam</a>
    </div>
  </div>
</div>
