<div class="my-2">
  <%=
    link_to 'Back Home',
    home_path,
    class:"transition duration-500 px-4 py-2 font-bold border text-sm rounded-lg focus:outline-none hover:bg-blue-900 hover:text-white hover:border-blue-900"
  %>
</div>
<h1 class="text-2xl font-bold text-gray-800">Two Way Data Binding</h1>

<div class="max-w-lg p-10 mx-auto">
  <form
    x-data="{
      form: {
        name: ''
      },

      user: null,

      submit() {
        fetch('https://reqres.in/api/users', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(this.form)
        })
        .then(response => response.json())
        .then(user => this.user = user)
      }
    }"
    @submit.prevent="submit"
  >
    <div class="mb-6">
      <label
        for="name"
        class="block mb-2 text-xs font-bold text-gray-700 uppercase"
      >
        Name
      </label>

      <input
        type="text"
        name="name"
        id="name"
        x-model="form.name"
        required
        class="w-full p-2 border border-gray-400 rounded"
      >
    </div>

    <template x-if="user">
      <div
        class="my-4 text-sm font-bold"
        x-text="'The user ' + user.name + ' was created at ' + user.createdAt"
      ></div>
    </template>
  </form>
</div>
